<!DOCTYPE html> 
<html lang="ru">          
  <head>
    {% block title %}

    {% endblock %}
  </head>
  <body>
      {% include 'includes/header.html' %}
    <main>
      {% block content %}

      {% endblock %}
      {% for post in posts %}
        <ul>
          <li>
            Автор: {{ post.author.get_full_name }}
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        <p>{{ post.text }}</p>
        <a href="">все записи группы</a>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    </main>

      {% include 'includes/footer.html' %}

  </body>
</html> 